
body/*corps de la page*/ {
    background-color: black;/*fond derrière l'image en-dessous*/
    background-image: url(../../images/pikachumusical.gif);/*image de fond*/
    cursor:url(../../images/cursor.cur),default;/*le curseur par défaut de la page est l'image choisie*/
}
p /*les paragraphes*/{
    font-family: Angelic War;/*police d'écriture : Angelic War*/
    color:rgb(255, 20, 184);/*couleur sympa en RGB*/
    font-size: 60px;/*taille de la police*/
}