body/*le corps du texte*/ {
    background-image: url(../../images/fondfleur.jpg);/*l'image de fond*/
    background-size:cover;/*l'image recouvre toute la page*/
    background-repeat: no-repeat;/*l'image ne se répète pas*/
    cursor:url(../../images/cursor.cur),default;/*le curseur par défaut de la page est l'image choisie*/
}

ol/*la liste ordonnée*/ {
    margin-left: 75px;/*décalage de 75 pixels sur la droite*/
    color:rgb(255, 20, 98);/*couleur sympa en RGB*/
    font-family: Blackadder ITC;/*police d'écriture : Blackadder ITC*/
    font-size:20px;/*taille de la police*/
}

p/*les paragraphes*/ {
    color:rgb(255, 87, 20);/*couleur sympa en RGB*/
    font-family: Angelic War;/*police d'écriture : Angelic War*/
    font-size:25px;/*taille de la police*/
}

a/*les liens*/ {
    text-decoration-line: none;/*pour enlever le sous-lignage*/
    color:rgb(255, 87, 20);/*couleur sympa en RGB*/
    cursor:url(../../images/curseur.cur), pointer;/*quand le pointeur de la souris passe sur un lien, l'icône change pour celle définie*/
}

h5/*titre de niveau 5*/ {
    color:blue;/*couleur du titre : bleu*/
    font-family: Blackadder ITC;/*police d'écriture : Blackadder ITC*/
    font-size: 20px;/*taille de la police*/
}