body/*le corps du texte*/ {
    background-image: url(../../images/fleurbleue.jpg);/*l'image de fond*/
    background-attachment: fixed;/*le fond ne bouge pas avec la page*/
    background-size:cover;/*le fond couvre toute la page*/
    background-repeat: no-repeat;/*le fond ne se répète pas*/
    cursor:url(../../images/cursor.cur),default;/*le curseur par défaut de la page est l'image choisie*/
}
ol/*liste ordonée*/ {
    margin-left: 75px;/*marge de 75*/
}
a/*les liens*/ {
    text-decoration-line: none;/*pour enlever le sous-lignage*/
    color:rgb(255, 20, 98);/*couleur sympa en RGB*/
    font-family: Blackadder ITC;/*police de caractère : Blackadder ITC*/
    font-size:30px;/*taille de la police*/
    cursor:url(../../images/curseur.cur), pointer;/*quand le pointeur de la souris passe sur un lien, l'icône change pour celle définie*/
}
p/*paragraphe*/ {
    font-family: Angelic War;/*police de caractère : Angelic War*/
    font-size: 30px;/*taille de la police*/
}
h5/*titre de niveau 5*/ {
    color:blue;/*couleur du titre : bleu*/
    font-family: Blackadder ITC;/*police de caractère : Blackadder ITC*/
    font-size: 20px;/*taille de la police*/
}