body/* définition du corps */ {
    background-image: url(../../images/fondfleur1.jpg) ;/* fond en fleur */
    background-attachment: scroll;/* le fond vas bouger avec la page */
    background-size:cover;/* le fond recouvre toute la page */
    background-repeat: no-repeat;/* le fond ne se pépète pas plusieurs fois */
    cursor:url(../../images/cursor.cur),default;/*le curseur par défaut de la page est l'image choisie*/
}
h1/*le titre de niveau 1*/ {
  color: deepskyblue;/*couleur du titre en bleu-ciel profond*/
  font-family: Blackadder ITC;/*police d'écriture : Blackadder ITC*/
  font-size:40px;/*taille de la police*/ 
}
h2/*le titre de niveau 2*/ {
  color: deepskyblue;/*couleur du titre en bleu-ciel profond*/
  font-family: Blackadder ITC;/*police d'écriture : Blackadder ITC*/
  font-size: 30px;/*taille de la police*/
}
p/*chaque paragraphe*/ {
  color:darkmagenta;/*couleur du paragraphe en magenta sombre */
  font-family: Blackadder ITC;/*police d'écriture : Blackadder ITC*/
  font-size: 25px;/*taille de la police*/
}
li/*chaque membre de la liste*/ {
  margin-top: 10px;/*espacement entre chaque membre de la liste*/
  text-indent: 50px;/*décalage sur la droite de 50 pixels*/
  font-size: 30px;/*taille de la police*/
  font-family: Angelic War;/*police d'écriture : Angelic War*/
  list-style-type: none;/*aucun effet de style suplémentaire sur la liste*/
}
a/*chaque lien*/ {
  text-decoration-line: none;/*nécessaire pour enlever le sous-lignage*/
  color:rgb(255, 20, 98);/*couleur sympa en RGB*/
  cursor:url(../../images/curseur.cur), pointer;/*quand le pointeur de la souris passe sur un lien, l'icône change pour celle définie*/
}
h3/*titre de niveau 3*/ {
  color:crimson;/*couleur du titre en crimson*/
  font-family: Brush Script MT;/*police d'écriture : Blackadder ITC*/
  font-size: 25 px;/*taille de la police*/
}
ul/*la liste non ordonée*/ {
  margin-top: 50px;/*marge en haut de la liste non ordonnée*/
}
